@import "tailwindcss";

@theme inline {
  --font-blackout-midnight: var(--font-blackout-midnight);
  --font-blackout-two-am: var(--font-blackout-two-am);
  --font-azeret-mono: var(--font-azeret-mono);
}

@font-face {
  font-family: "Aria Solid", sans-serif;
  font-style: normal;
  font-display: swap;
  src: url("src/fonts/ariasolid-Regular.woff2") format("woff2");
}

:root {
  --base-color: white;
  --text-color: #1e1e1e;
  --accent-color: #f244b5;
}

html.dark {
  background-color: #1e1e1e;
  color: white;
  --accent-color: #f244b5;
}

::-moz-selection {
  /* Code for Firefox */
  color: #1e1e1e;
  background: #f091cf;
}

::selection {
  color: #1e1e1e;
  background: #f091cf;
}
